.third-component{
    background: url(./../../img/ThirdComponent/bg.png) 0 0/100% auto no-repeat;
    padding: 100px 0 80px;
}

.third-component .slick-dots li button:before{
    width: 4px;
    height: 4px;
    color: transparent;
    opacity: 1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: rgba(227, 70, 0, 0.3);
}

.third-component .slick-dots li.slick-active button:before{
    width: 4px;
    height: 4px;
    color: transparent;
    transform: translate(-50%, -50%);
    opacity: 1;
    border-radius: 50%;
    background: #E34600;
}

.third-component .slick-dots li.slick-active button:after{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    text-align: center;
    border-radius: 50%;
    border: 1px solid rgba(227, 70, 0, 0.1);
    transform: translate(-50%, -50%);
    background: url(./../../img/ThirdComponent/icons/part_selected.svg) -1px -1px/55% no-repeat;
}

@media (min-width: 1440px) {
    .third-component{
        background: url(./../../img/ThirdComponent/bg.png) 0 -50px/100% auto no-repeat;
    }
}

@media (min-width: 1600px) {
    .third-component{
        background: url(./../../img/ThirdComponent/bg.png) 0 -80px/100% auto no-repeat;
    }
}

@media (min-width: 1750px) {
    .third-component{
        background: url(./../../img/ThirdComponent/bg.png) 0 -150px/100% auto no-repeat;
    }
}

@media (min-width: 1920px) {
    .third-component{
        background: url(./../../img/ThirdComponent/bg.png) 0 -200px/100% auto no-repeat;
    }
}

@media (min-width: 2080px) {
    .third-component{
        background: url(./../../img/ThirdComponent/bg.png) 0 -250px/100% auto no-repeat;
    }
}

@media (min-width: 2240px) {
    .third-component{
        background: url(./../../img/ThirdComponent/bg.png) 0 -300px/100% auto no-repeat;
    }
}

@media (min-width: 2400px) {
    .third-component{
        background: url(./../../img/ThirdComponent/bg.png) 0 -350px/100% auto no-repeat;
    }
}

@media (max-width: 1170px) {
    .third-component{
        background: url(./../../img/ThirdComponent/bg.png) 0 10px/100% auto no-repeat;
    }
}

@media (max-width: 1130px) {
    .third-component{
        background: url(./../../img/ThirdComponent/bg.png) 0 25px/100% auto no-repeat;
    }
}

@media (max-width: 1100px) {
    .third-component{
        background: linear-gradient(208deg, rgba(255,255,255,1) 53%, rgba(0,212,255,0.13) 100%);
    }
}

@media (max-width: 992px) {
    .third-component{
        background: url(./../../img/ThirdComponent/bg.png) 0 0/auto 50% no-repeat;
        padding: 63px 0 42px;
    }
}

@media (max-width: 768px) {
    .third-component{
        background: url(./../../img/ThirdComponent/bg.png) 0 0/auto 45% no-repeat;
    }
}

@media (max-width: 576px) {
    .third-component{
        background: url(./../../img/ThirdComponent/bg.png) 0 0/auto 42% no-repeat;
    }
}