.fourth-component__slider{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-bottom: 32px;
    margin-left: 220px;
}

.fourth-component__slider>p{
    position: absolute;
    left: calc(50% - 180px);
    transform: translate(50%, 0);
    bottom: 0px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #000;
}

.fourth-component__slider span{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #808080;
}

.fourth-component__slider-right{
    margin-left: 15px;
}

.fourth-component__slider-right img{
    width: 100%;
}

@media (max-width: 992px) {
    .fourth-component__slider{
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;
        padding-bottom: 32px;
        margin-left: 0;
    }

    .fourth-component__slider::after{
        content: "";
        position: absolute;
        width: 100vw;
        height: 79px;
        bottom: -32px;
        left: 0;
        background: #000;
    }

    .fourth-component__slider-right{
        order: 1;
        margin-left: 0;
        margin-bottom: 35px;
    }

    .fourth-component__slider>p{
        position: absolute;
        left: calc(50% - 28px);
        transform: translate(0%, -50%);
        bottom: -9px;
        color: #fff;
        z-index: 3;
    }
    
    .fourth-component__slider span{
        color: #808080;
    }
}