.sixth-component__item p {
    font-weight: 700;
    font-size: 18px;
    line-height: 148%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    bottom: 40px;
    left: 45px;
}

.sixth-component__item {
    position: relative;
}

@media (max-width: 1200px) {
    .sixth-component__item {
        display: flex;
        justify-content: center;
    }

    .sixth-component__item p {
        left: 0;
        width: 100%;
        text-align: center;
        bottom: 29px;
    }
}