    .mobileNav{
        margin-bottom: 58px;
    }
    .mobileNav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mobileNav li{
        margin-bottom: 14px;
    }
    .mobileNav a{
        font-family: "Inter";
        text-transform: uppercase;
        line-height: 17px;
        color: rgba(57, 57, 57, 0.67);
        position: relative;
    }
    .mobileNav a.active{
        color: #E34600;
    }
    .mobileNav a:hover{
        color: #E34600;
    }
    .mobileNav a::after{
        content: "";
        display: block;
        position: absolute;
        width: 2px;
        height: 2px;
        top: 50%;
        left: -8px;
        transform: translate(0, -50%);
        border-radius: 50%;
        background: #868686;
    }
    .mobileNav a:hover:after{
        background: #E34600;
    }
    .mobileNav a.active::after{
        content: "";
        display: block;
        position: absolute;
        width: 4px;
        height: 4px;
        bottom: 0;
        left: -16px;
        background: url(./../../../img/MobileMenu/icons/decor.svg) center/contain no-repeat;
    }
    .mobileNav a.active::before{
        content: "";
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        bottom: 50%;
        left: -24px;
        transform: translate(0, 50%);
        border-radius: 50%;
        border: 0.4px solid #E34600
    }