.quote {
    display: flex;
    align-items: center;
}

.quote a {
    display: flex;
    align-items: center;
}

.quote img {
    margin-right: 8px;
}

.quote p {
    font-family: 'Pier';
    text-transform: uppercase;
    color: #000000;
    letter-spacing: 0.09em;
}

@media (max-width: 992px) {
    .quote p {
        font-size: 12px;
        line-height: 14px;
    }
}