.footer__center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 36px;
    border-bottom: 1px solid rgba(57, 57, 57, 0.42);
    margin-bottom: 37px;
}