.sixth-component {
    padding: 122px 0;
    background: #F7F7F9;
}

.sixth-component__wrapper {
    max-width: 1220px;
    margin-left: auto;
    position: relative;
}

.sixth-component__wrapper h2 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0.04em;
    color: #393939;
    padding-left: 24px;
    position: relative;
    margin-bottom: 62px;
}

.sixth-component__wrapper h2::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 12px;
    height: 12px;
    background: url(./../../img/SixthComponent/icons/star.svg) center/contain no-repeat;
}

@media (min-width: 1441px) {
    .sixth-component__wrapper {
        margin-right: auto;
    }
}

@media (max-width: 1200px) {
    .sixth-component {
        padding: 122px 20px;
    }
}

@media (max-width: 992px) {
    .sixth-component {
        padding: 43px 20px 71px;
        margin-top: 173px;
    }

    .sixth-component__wrapper h2 {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 37px;
    }
}