.langFull{
    display: flex;
    align-items: center;
    margin-bottom: 44px;
}

.langFull p{
    line-height: 17px;
    color: #868686;
}

.langFull span{
    color: #E34600;
}

.langFull img{
    margin-left: 4px;
    position: relative;
    top: 2px;
}