.footer {
    padding: 59px 0 47px;
    background: #202020;
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 65px 0 40px;
}

.footer__top {
    max-width: 275px;
    margin-bottom: 85px;
}

.footer__top img {
    margin-bottom: 24px;
}

.footer__top p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 158%;
    color: #404040;
}

.footer__center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 36px;
    border-bottom: 1px solid rgba(57, 57, 57, 0.42);
    margin-bottom: 37px;
}

.footer__center-left {
    display: flex;
    align-items: center;
}

.footer__center-left a {
    margin-right: 32px;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #FFFFFF;
    font-weight: 400;
}

.footer__center-left a:hover {
    color: #E34600;
    border-bottom: 1px solid #E34600;
}

.footer__center-left a.active {
    color: #E34600;
}

.footer__center-right {
    display: flex;
    align-items: center;
}

.footer__center-right a {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.18);
    margin-left: 26px;
}

.footer__center-right a:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.footer__center-right a.active {
    color: #fff;
}

.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__bottom-left {
    display: flex;
    align-items: center;
}

.footer__bottom-left p {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    line-height: 162%;
    text-transform: capitalize;
    color: #555555;
    margin-right: 24px;
}

.footer__bottom-right {
    display: flex;
    align-items: center;
}

.footer__bottom-right p {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    line-height: 162%;
    color: #555555;
    display: flex;
    align-items: center;
}

.footer__bottom-right p img {
    margin-left: 9px;
}