.footer {
    padding: 59px 0 47px;
    background: #202020;
    position: relative;
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 65px 0 40px;
}

@media (max-width: 992px) {
    .footer {
        padding: 37px 20px 71px;
    }

    .footer__wrapper {
        padding: 0;
    }
}